<div class="container-fluid">
    <h1>您的购物车</h1>
    <div class="alert alert-warning">
        <a href="#/product">返回购物界面</a>
    </div>
    <table class="table table-striped">
        <thead>
        <td>商品名称</td>
        <td>单价</td>
        <td>数量</td>
        <td>小计</td>
        <td>删除</td>
        </thead>
        <tbody>
        <tr ng-repeat="x in shopCar">
        <td ng-bind="x.product.name"></td>
        <td ng-bind="x.product.price"></td>
        <td ng-bind="x.count"></td>
        <td>{{x.product.price * x.count}}</td>
        <td><button class="btn btn-danger" ng-click="deletePro(x)">删除</button></td>
        </tr>
        </tbody>
    </table>
</div>